<template>
  <q-page padding>
    <h3 class="text-center">Configurações</h3>
    <h4 class="text-center">Doropomo</h4>
    <q-form class="row q-gutter-md flex-center">
      <q-card class="col-md-3 col-sm-12 col-xs-12 text-center">
        <q-card-section>
          <div class="text-h6">Descanso</div>
        </q-card-section>
        <q-card-section>
          <q-knob
            :min="1"
            :max="60"
            name="restCount"
            class="text-white q-ma-md"
            v-model="doropomo.restCount"
            @change="updateRestCount(doropomo.restCount)"
            size="100px"
            :thickness="0.2"
            color="accent"
            :center-color="
              doropomo.currentTimer === 'Rest' ? 'primary' : 'secondary'
            "
            track-color="transparent"
            show-value
          ></q-knob>
        </q-card-section>
        <q-card-actions align="around">
          <q-btn
            flat
            icon="remove"
            @click="updateRestCount(doropomo.restCount - 1)"
          />
          <q-btn flat icon="restart_alt" @click="updateRestCount(25)" />
          <q-btn
            flat
            icon="add"
            @click="updateRestCount(doropomo.restCount + 1)"
          />
        </q-card-actions>
      </q-card>
      <q-card class="col-md-3 col-sm-12 col-xs-12 text-center">
        <q-card-section>
          <div class="text-h6">Trabalho Curto</div>
        </q-card-section>
        <q-card-section>
          <q-knob
            :min="1"
            :max="60"
            name="restCount"
            class="text-white q-ma-md"
            v-model="doropomo.shortWorkCount"
            @change="updateShortWorkCount(doropomo.shortWorkCount)"
            size="100px"
            :thickness="0.2"
            color="accent"
            :center-color="
              doropomo.currentTimer === 'ShortWork' ? 'primary' : 'secondary'
            "
            track-color="transparent"
            show-value
          ></q-knob>
        </q-card-section>
        <q-card-actions align="around">
          <q-btn
            flat
            icon="remove"
            @click="updateShortWorkCount(doropomo.shortWorkCount - 1)"
          />
          <q-btn flat icon="restart_alt" @click="updateShortWorkCount(5)" />
          <q-btn
            flat
            icon="add"
            @click="updateShortWorkCount(doropomo.shortWorkCount + 1)"
          />
        </q-card-actions>
      </q-card>
      <q-card class="col-md-3 col-sm-12 col-xs-12 text-center">
        <q-card-section>
          <div class="text-h6">Trabalho Longo</div>
        </q-card-section>
        <q-card-section>
          <q-knob
            :min="1"
            :max="60"
            name="restCount"
            class="text-white q-ma-md"
            v-model="doropomo.longWorkCount"
            @change="updateLongWorkCount(doropomo.longWorkCount)"
            size="100px"
            :thickness="0.2"
            color="accent"
            :center-color="
              doropomo.currentTimer === 'LongWork' ? 'primary' : 'secondary'
            "
            track-color="transparent"
            show-value
          ></q-knob>
        </q-card-section>
        <q-card-actions align="around">
          <q-btn
            flat
            icon="remove"
            @click="updateLongWorkCount(doropomo.longWorkCount - 1)"
          />
          <q-btn flat icon="restart_alt" @click="updateLongWorkCount(15)" />
          <q-btn
            flat
            icon="add"
            @click="updateLongWorkCount(doropomo.longWorkCount + 1)"
          />
        </q-card-actions>
      </q-card>
    </q-form>
    <h4 class="text-center">Temas</h4>
    <q-form class="row q-gutter-md flex-center">
      <q-card
        v-for="(theme, key) in themes"
        v-bind:key="key"
        class="col-md-2 col-sm-6 col-xs-6"
      >
        <q-card-section>
          <div class="text-h6">{{ theme.name }}</div>
        </q-card-section>
        <q-card-section class="row">
          <div
            class="col-4"
            :style="`height: 40px; background-color: ${theme.primary};`"
          ></div>
          <div
            class="col-4"
            :style="`height: 40px; background-color: ${theme.secondary};`"
          ></div>
          <div
            class="col-4"
            :style="`height: 40px; background-color: ${theme.accent};`"
          ></div>
        </q-card-section>
        <q-card-actions align="around">
          <q-btn
            glossy
            :disable="currentTheme === theme.name ? true : false"
            :label="currentTheme === theme.name ? 'Selecionado' : 'Aplicar'"
            :style="`background: ${theme.primary}; color: white`"
            @click="updateTheme(theme)"
          />
        </q-card-actions>
      </q-card>
    </q-form>
  </q-page>
</template>
<script>
import { defineComponent, ref, computed, onMounted } from "vue";
import { Store } from "../utils/tauri-store";
import { useConfigStore } from "stores/configStore";
import { storeToRefs } from "pinia";

export default defineComponent({
  name: "ConfigPage",
  setup() {
    const configStore = useConfigStore();
    const store = new Store(".comum.settings.json");
    const { doropomo, themes, currentTheme } = storeToRefs(configStore);

    const updateRestCount = async (value) => {
      await configStore.updateRestCount(value);
    };
    const updateShortWorkCount = async (value) => {
      await configStore.updateShortWorkCount(value);
    };
    const updateLongWorkCount = async (value) => {
      await configStore.updateLongWorkCount(value);
    };

    const updateTheme = async (theme) => {
      await configStore.updateTheme(theme);
    };

    onMounted(async () => {
      if (window.__TAURI__) {
        const tauriRestCount = await store.get("restCount");
        await updateRestCount(tauriRestCount);

        const tauriShortWorkCount = await store.get("shortWorkCount");
        await updateShortWorkCount(tauriShortWorkCount);

        const tauriLongWorkCount = await store.get("longWorkCount");
        await updateLongWorkCount(tauriLongWorkCount);

        const tauriTheme = await store.get("theme");
        await updateTheme(tauriTheme);
      }
    });

    return {
      themes,
      doropomo,
      currentTheme,
      updateRestCount,
      updateShortWorkCount,
      updateLongWorkCount,
      updateTheme,
    };
  },
});
</script>
