<template>
  <q-page padding class="row q-gutter-md flex-center">
    <div class="col-12">
      <h1 class="title text-center">Dashboard Page</h1>
      <h2 class="subtitle text-center">
        Seja bem vinde, {{ user.first_name }}
      </h2>
    </div>
    <q-skeleton v-if="loading" type="rect" />
    <div v-else class="col-3">
      <h6>Lista de Trabalhos</h6>
      <p v-if="jobList.length === 0">
        Lista vazia!
        <q-btn
          label="Criar o primeiro trabalho"
          color="primary"
          @click="modalCreateJob = true"
        />
      </p>
      <ul v-else>
        <li v-for="(job, key) in jobList" v-bind:key="key">{{ job.titulo }}</li>
      </ul>
      <q-dialog v-model="modalCreateJob">
        <q-card>
          <q-card-section>
            <q-input
              rounded
              standout
              v-model="titulo"
              label="Título"
              :rules="[
                (val) => !!val || 'Campo Obrigatório!',
                (val) =>
                  val.length > 4 ||
                  'Título não pode possuir menos de 4 caracteres',
                (val) =>
                  val.length < 255 ||
                  'Título não pode possuir mais de 255 caracteres',
              ]"
            />
            <q-input
              rounded
              standout
              v-model="descricao_curta"
              label="Descricao Curta"
              :rules="[
                (val) => !!val || 'Campo Obrigatório!',
                (val) =>
                  val.length > 4 ||
                  'Descição Curta não pode possuir menos de 4 caracteres',
              ]"
            />
            <q-input
              rounded
              standout
              v-model="descricao_longa"
              label="Descricao Longa"
              type="textarea"
            />
            <q-select
              rounded
              standout
              v-model="status"
              :options="statusOptions"
              label="Status"
            />
          </q-card-section>
          <q-card-section>
            <q-select
              rounded
              standout
              v-model="tamanho_companhia"
              :options="tamanhoOptions"
              label="Tamanho da Companhia"
            />
          </q-card-section>
          <q-card-actions align="right">
            <q-btn label="Enviar" color="primary" @click="submitJob" />
            <q-btn
              flat
              label="Limpar Campos"
              color="primary"
              @click="resetFields"
            />
            <q-btn
              flat
              label="Fechar"
              color="primary"
              @click="resetFields"
              v-close-popup="modalCreateJob"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { storeToRefs } from "pinia";
import { useAuthStore } from "stores/authStore";
import { useTaskStore } from "stores/taskStore";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "DashboardPage",
  setup() {
    const authStore = useAuthStore(),
      taskStore = useTaskStore();

    const { user } = storeToRefs(authStore),
      { jobList } = storeToRefs(taskStore),
      $q = useQuasar();

    const loading = ref(true),
      modalCreateJob = ref(false),
      titulo = ref(""), //max_length=255
      descricao_curta = ref(""),
      descricao_longa = ref(""), //blank=True, null=True)
      nome_companhia = ref(""), //max_length=255, default=''
      endereco_companhia = ref(""), //max_length=255, null=True, blank=True
      cep_companhia = ref(""), //max_length=255, null=True, blank=True
      cidade_companhia = ref(""), //max_length=255, null=True, blank=True
      pais_companhia = ref(""), //max_length=255, null=True, blank=True
      tamanho_companhia = ref({ label: "1-9", value: "tamanho_1-9" }), //max_length=20, choices=CHOICES_TAMANHO, default=TAMANHO_1_9
      status = ref({ label: "Ativo", value: "ativo" });

    onMounted(() => {
      taskStore.pullJobList();
      loading.value = false;
    });

    const resetFields = () => {
      (titulo.value = ""),
        (descricao_curta.value = ""),
        (descricao_longa.value = ""),
        (nome_companhia.value = ""),
        (endereco_companhia.value = ""),
        (cep_companhia.value = ""),
        (cidade_companhia.value = ""),
        (pais_companhia.value = ""),
        (tamanho_companhia.value = "tamanho_1-9"),
        (status.value = "ativo");
    };

    const submitJob = async () => {
      if (titulo.value === "")
        $q.notify({
          type: "warning",
          position: "top",
          message: "Campo de Título obrigatório",
        });
      else if (titulo.value.length < 4)
        $q.notify({
          type: "warning",
          position: "top",
          message: "Título não pode possuir menos de 4 caracteres",
        });
      else if (titulo.value.length > 255)
        $q.notify({
          type: "warning",
          position: "top",
          message: "Título não pode possuir mais de 255 caracteres",
        });
      if (descricao_curta.value === "")
        $q.notify({
          type: "warning",
          position: "top",
          message: "Campo de Descição Curta obrigatório",
        });
      else if (descricao_curta.value.length < 4)
        $q.notify({
          type: "warning",
          position: "top",
          message: "Descição Curta não pode possuir menos de 4 caracteres",
        });
      else {
        console.log(user.rawValue);
        await taskStore.addJob({
          titulo: titulo.value,
          descricao_curta: descricao_curta.value,
          descricao_longa: descricao_longa.value,
          status: status.value.value,
          tamanho_companhia: tamanho_companhia.value.value,
          criado_por: user.value.id,
        });
        modalCreateJob.value = false;
        resetFields();
      }
    };

    return {
      user,
      jobList,
      loading,
      modalCreateJob,
      titulo,
      descricao_curta,
      descricao_longa,
      status,
      statusOptions: [
        {
          label: "Ativo",
          value: "ativo",
        },
        {
          label: "Ocupado",
          value: "ocupado",
        },
        {
          label: "Arquivado",
          value: "arquivado",
        },
      ],
      tamanho_companhia,
      tamanhoOptions: [
        {
          label: "1-9",
          value: "tamanho_1-9",
        },
        {
          label: "10-49",
          value: "tamanho_10-49",
        },
        {
          label: "50-99",
          value: "tamanho_50-99",
        },
        {
          label: "100+",
          value: "tamanho_100",
        },
      ],
      submitJob,
      resetFields,
    };
  },
});
</script>
