<template>
  <q-page class="flex flex-center column" style="padding: 3rem">
    <q-toolbar
      class="bg-transparent text-primary"
      style="position: absolute !important; top: 0 !important"
    >
      <q-btn flat round dense class="q-mr-sm">
        <q-avatar color="secondary">
          <img src="/icons/favicon-32x32.png" style="width: 80%; height: 80%" />
        </q-avatar>
      </q-btn>
      <q-space />
      <q-tabs v-model="panel" shrink>
        <q-tab name="inicio" label="Início" no-caps />
        <q-tab name="sobre" label="Sobre" no-caps />
        <q-route-tab :to="{ name: 'login' }" label="Login" no-caps />
        <q-tab name="contato" label="Contato" no-caps />
      </q-tabs>
      <q-btn
        round
        flat
        :icon="$q.dark.isActive ? 'light_mode' : 'dark_mode'"
        :color="$q.dark.isActive ? 'primary' : 'dark'"
        @click="$q.dark.toggle"
      />
    </q-toolbar>
    <q-tab-panels
      v-model="panel"
      animated
      class="flex flex-center items-center shadow-2 rounded-borders"
      style="width: 100%; min-height: 400px"
    >
      <q-tab-panel
        name="inicio"
        class="row q-col-gutter-x-md q-col-gutter-y-lg"
      >
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4 class="text-h4 text-uppercase">
            Comece o seu <span class="text-primary">projeto popular</span> com o
            <span class="text-primary">Comum Framework</span>
          </h4>
          <p class="text-body2">
            Um ambiente de desenvolvimento e produção completo para Django, Vue
            e Tauri.
          </p>
          <q-btn
            color="primary"
            text-color="white"
            no-caps
            label="Vamos começar?"
          />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <img
            src="https://placehold.co/300"
            alt="helper"
            class="move"
            data-speed="-3"
          />
        </div>
      </q-tab-panel>

      <q-tab-panel name="sobre" class="row q-col-gutter-x-md q-col-gutter-y-lg">
        <div class="text-h6">Sobre</div>
      </q-tab-panel>

      <q-tab-panel
        name="contato"
        class="row q-col-gutter-x-md q-col-gutter-y-lg"
      >
        <div class="text-h6">Contato</div>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { useAuthStore } from "stores/authStore";
import { Loading, QSpinnerGears } from "quasar";

export default defineComponent({
  name: "IndexPage",
  preFetch({ store, redirect }) {
    Loading.show({
      spinner: QSpinnerGears,
      spinnerColor: "white",
      spinnerSize: 140,
      backgroundColor: "black",
      message: "Carregando...",
      messageColor: "white",
    });
    const authStore = useAuthStore(store);
    if (authStore.IsAuthenticated) {
      redirect("/dashboard");
    }
    Loading.hide();
  },
  setup() {
    const panel = ref("inicio");
    const show = ref(true);

    onMounted(() => {
      document.addEventListener("mousemove", (e) => {
        document.querySelectorAll(".move").forEach((layer) => {
          const speed = layer.getAttribute("data-speed");

          const x = (window.innerWidth - e.pageX * speed) / 120;
          const y = (window.innerHeight - e.pageY * speed) / 120;

          layer.style.transform = `translateX(${x}px) translateY(${y}px)`;
        });
      });
    });

    return { panel, show };
  },
});
</script>
