<template>
  <q-page class="flex flex-center column">
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <div class="q-pa-md" v-show="show">
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
          <q-input
            filled
            type="text"
            v-model="username"
            label="Nome de usuário"
          />
          <q-input filled type="password" v-model="password" label="Senha" />
          <div>
            <q-btn label="Entrar" type="submit" color="primary" />
            <q-btn
              label="Limpar Campos"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
            />
          </div>
        </q-form>
      </div>
    </transition>
  </q-page>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useAuthStore } from "stores/authStore";
import { Loading, QSpinnerGears } from "quasar";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "LoginPage",
  preFetch({ store, redirect }) {
    Loading.show({
      spinner: QSpinnerGears,
      spinnerColor: "white",
      spinnerSize: 140,
      backgroundColor: "black",
      message: "Carregando...",
      messageColor: "white",
    });
    const authStore = useAuthStore(store);
    if (authStore.IsAuthenticated) {
      redirect("/dashboard");
    }
    Loading.hide();
  },
  setup() {
    const authStore = useAuthStore();
    const router = useRouter();

    const username = ref("");
    const password = ref("");
    const show = ref(true);

    const onReset = () => {
      username.value = "";
      password.value = "";
    };
    const onSubmit = async () => {
      if (username.value != "" && password.value != "") {
        authStore.login(username.value, password.value).then(async () => {
          const response = await authStore.fetchProfile();
          console.log(response);
          if (response && response === 200) {
            console.info("cadê???");
            router.push("/comum");
          }
        });
      }
    };

    onMounted(async () => {
      await authStore.getCsrf();
    });

    return { username, password, show, onReset, onSubmit };
  },
});
</script>
