<template>
  <q-card class="my-card q-py-sm" :dark="dark">
    <q-item>
      <q-item-section avatar>
        <q-btn
          round
          :color="`${color}-2`"
          :text-color="`${color}-8`"
          :icon="icon"
        >
          <q-tooltip :class="`bg-${color}-10 text-body2`" :offset="[10, 10]">
            <p v-if="descricao"><strong>Descrição: </strong>{{ descricao }}</p>
            <p><strong>Data de Criação: </strong>{{ criacaoDate }}</p>
            <p><strong>Data de Modificação: </strong>{{ modificacaoDate }}</p>
            <hr style="border: 1px solid white" />
            <p><strong>Nome da companhia: </strong>{{ nome }}</p>
            <p v-if="endereco">
              <strong>Endereço da companhia: </strong>{{ endereco }}
            </p>
            <p v-if="cep"><strong>CEP da companhia: </strong>{{ cep }}</p>
            <p v-if="cidade">
              <strong>Cidade da companhia: </strong>{{ cidade }}
            </p>
            <p v-if="pais"><strong>País da companhia: </strong>{{ pais }}</p>
            <p><strong>Tamanho da companhia: </strong>{{ tamanho }}</p>
          </q-tooltip>
        </q-btn>
      </q-item-section>
      <q-item-section>
        <q-item-label
          ><strong>{{ title }}</strong></q-item-label
        >
        <q-item-label caption>{{ caption }}</q-item-label>
      </q-item-section>
      <q-item-section>
        <q-btn
          text-color="white"
          label="Apply"
          color="positive"
          class="q-mt-sm"
        />
      </q-item-section>
    </q-item>
  </q-card>
</template>
<script>
import { defineComponent, toRefs, computed } from "vue";
import { date } from "quasar";
export default defineComponent({
  name: "AvailableWorkCard",
  props: {
    title: {
      type: String,
      required: true,
    },
    caption: {
      type: String,
      required: true,
    },
    descricao: {
      type: String,
      required: false,
      default: "",
    },
    nome: {
      type: String,
      required: true,
    },
    endereco: {
      type: String,
      required: false,
      default: "",
    },
    cep: {
      type: String,
      required: false,
      default: "",
    },
    cidade: {
      type: String,
      required: false,
      default: "",
    },
    pais: {
      type: String,
      required: false,
      default: "",
    },
    tamanho: {
      type: String,
      required: true,
      default: "1-9",
      validator(value) {
        return ["1-9", "10-49", "50-99", "100+"].includes(value);
      },
    },
    criado_em: {
      type: String,
      required: false,
      default: "",
    },
    modificado_em: {
      type: String,
      required: false,
      default: "",
    },
    status: {
      type: String,
      required: true,
      default: "Ativo",
      validator(value) {
        return ["Ativo", "Ocupado", "Arquivado"].includes(value);
      },
    },
    color: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    dark: {
      type: Boolean,
      required: false,
    },
  },
  setup(props) {
    const {
      title,
      caption,
      descricao,
      nome,
      endereco,
      cep,
      cidade,
      pais,
      tamanho,
      criado_em,
      modificado_em,
      status,
      color,
      icon,
      dark,
    } = toRefs(props);

    const criacaoDate = computed(() =>
      date.formatDate(
        new Date(criado_em.value),
        "D [de] MMMM [de] YYYY[, às] HH:mm"
      )
    );
    const modificacaoDate = computed(() =>
      date.formatDate(
        new Date(modificado_em.value),
        "D [de] MMMM [de] YYYY[, às] HH:mm"
      )
    );

    return { criacaoDate, modificacaoDate };
  },
});
</script>
