<template>
  <Story title="Available Work Card" group="comp">
    <Variant title="Default 1" :init-state="defaultOneState">
      <template #default="{ state }">
        <AvailableWorkCard
          :title="state.title"
          :caption="state.caption"
          :color="state.color"
          :icon="state.icon"
          :dark="state.dark"
        />
      </template>
    </Variant>
    <Variant title="Default 2" :init-state="defaultTwoState">
      <template #default="{ state }">
        <AvailableWorkCard
          :title="state.title"
          :caption="state.caption"
          :color="state.color"
          :icon="state.icon"
          :dark="state.dark"
        />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Available Work Card

Todo
</docs>
<script>
import { defineComponent } from "vue";
import AvailableWorkCard from "./AvailableWorkCard.vue";
import { logEvent, isDark } from "histoire/client";

export default defineComponent({
  components: { AvailableWorkCard },
  setup() {
    const defaultOneState = () => {
      return {
        title: "Starbucks",
        caption: "Website UI Redesign",
        descricao: "Redesign da UI do Website da Starbucks",
        nome: "Starbucks",
        tamanho: "1-9",
        criado_em: "2023-10-10T18:04:36.847947Z",
        modificado_em: "2023-10-10T18:04:36.847987Z",
        status: "Ativo",
        icon: "coffee_maker",
        color: "green",
        dark: isDark(),
      };
    };

    const defaultTwoState = () => {
      return {
        title: "Untapped",
        caption: "Wensite Design",
        descricao: "Design do Website da Untapped",
        nome: "Untapped",
        tamanho: "1-9",
        criado_em: "2023-10-10T18:05:34.458584Z",
        modificado_em: "2023-10-10T18:05:34.458619Z",
        status: "Ativo",
        icon: "restaurant",
        color: "yellow",
        dark: isDark(),
      };
    };

    return { defaultOneState, defaultTwoState };
  },
});
</script>
