<template>
  <q-card class="my-card" style="padding: 33px 0px 33px 0px" :dark="dark">
    <q-item>
      <q-item-section avatar>
        <q-btn round color="blue-2" text-color="blue-8" icon="bolt" />
      </q-item-section>

      <q-item-section>
        <q-item-label>
          <strong>{{ title }}</strong>
        </q-item-label>
        <q-item-label caption> {{ desc }} </q-item-label>
        <q-item-label
          ><strong>{{ schedule }} Weeks</strong>
        </q-item-label>
      </q-item-section>
      <q-item-section>
        <q-item-label class="text-green"
          ><strong>Budget: R$ {{ budget }}</strong>
        </q-item-label>
      </q-item-section>
      <q-item-section>
        <q-btn color="light-blue-8" label="Deliver" />
        <q-btn text-color="negative" label="Cancel" flat class="q-mt-sm" />
      </q-item-section>
    </q-item>
  </q-card>
</template>
<script>
import { defineComponent, toRefs } from "vue";

export default defineComponent({
  name: "CurrentProjectCard",
  props: {
    id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    desc: {
      type: String,
      required: true,
    },
    schedule: {
      type: Number,
      required: true,
    },
    budget: {
      type: Number,
      required: true,
    },
    dark: {
      type: Boolean,
      required: false,
    },
  },
  setup(props) {
    const { id, title, desc, schedule, budget, dark } = toRefs(props);

    return {};
  },
});
</script>
