<template>
  <Story title="Current Project Card" group="comp">
    <Variant title="Default" :init-state="defaultState">
      <template #default="{ state }">
        <CurrentProjectCard
          :id="state.id"
          :title="state.title"
          :desc="state.desc"
          :schedule="state.schedule"
          :budget="state.budget"
          :dark="state.dark"
        />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Current Project Card

Todo
</docs>
<script>
import { defineComponent } from "vue";
import CurrentProjectCard from "./CurrentProjectCard.vue";
import { logEvent, isDark } from "histoire/client";

import "quasar/dist/quasar.css";

export default defineComponent({
  components: {
    CurrentProjectCard,
  },
  setup() {
    const defaultState = () => {
      return {
        id: 55,
        title: "Solar Management Dashboard",
        desc: "UI/UX Redesign",
        schedule: 4,
        budget: 1200,
        dark: isDark(),
      };
    };

    return { defaultState };
  },
});
</script>
