<template>
  <Story title="Isometric Menu" group="comp">
    <template #controls>
      <HstButton color="primary" class="htw-p-2" @click="toggleDarkMode">
        Toggle Component Dark Mode
      </HstButton>
      <HstButtonGroup
        v-model="color"
        title="Cor"
        :options="[
          {
            label: 'Primary',
            value: 'primary',
          },
          {
            label: 'Secondary',
            value: 'secondary',
          },
          {
            label: 'Accent',
            value: 'accent',
          },
        ]"
      />
      <HstJson v-model="menu" title="Menu" />
    </template>
    <Variant title="default">
      <IsometricMenu :color="color" :menu="menu" />
    </Variant>
  </Story>
</template>
<script>
import IsometricMenu from "./IsometricMenu.vue";
import { defineComponent, ref, computed, onMounted, watch } from "vue";
import { Dark } from "quasar";
import { toggleDark, isDark } from "histoire/client";

export default defineComponent({
  components: {
    IsometricMenu,
  },
  setup() {
    const color = ref("primary");
    const menu = ref([
      {
        id: "",
        label: "Início",
        icon: "home",
      },
      {
        id: "sobre",
        label: "Sobre",
        icon: "group",
      },
      {
        id: "servicos",
        label: "Serviços",
        icon: "link",
      },
      {
        id: "portfolio",
        label: "Portfolio",
        icon: "collections_bookmark",
      },
      {
        id: "nossotime",
        label: "Nosso Time",
        icon: "diversity_3",
      },
      {
        id: "contato",
        label: "Contato",
        icon: "contact_support",
      },
    ]);
    const toggleDarkMode = () => {
      Dark.toggle();
      toggleDark(Dark.mode);
    };

    const histoireDarkMode = computed(() => isDark());

    watch(histoireDarkMode, (value) => {
      Dark.set(value);
    });

    onMounted(() => {
      Dark.set(histoireDarkMode.value);
    });

    return { color, menu, toggleDarkMode };
  },
});
</script>
