<template>
  <ul
    :style="`--boxColor: ${boxColor}; --boxColorBefore: ${boxColorBefore}; --boxColorAfter: ${boxColorAfter}; --mainColor: ${mainColor}; --mainColorBefore: ${mainColorBefore}; --mainColorAfter: ${mainColorAfter};`"
  >
    <li
      v-for="(menuItem, key) in menu"
      v-bind:key="key"
      :style="`--i: ${menu.length - key}`"
    >
      <a :href="`#${menuItem.id}`" class="text-gray-6">
        <q-icon left :name="menuItem.icon" color="gray-6" />
        {{ menuItem.label }}
      </a>
    </li>
  </ul>
</template>
<script>
import { defineComponent, computed, toRefs } from "vue";
import { useQuasar, colors } from "quasar";

export default defineComponent({
  name: "IsometricMenu",
  props: {
    color: {
      type: String,
      required: false,
      default: "primary",
      validator(value) {
        return ["primary", "secondary", "accent"].includes(value);
      },
    },
    menu: {
      type: Array,
      required: true,
    },
  },
  setup(props) {
    const $q = useQuasar();
    const { getPaletteColor, lighten } = colors;
    const { color, menu } = toRefs(props);

    console.log($q.dark.isActive);

    const boxColor = computed(() => ($q.dark.isActive ? "#3d3f46" : "#ebebec"));
    const boxColorBefore = computed(() =>
      lighten($q.dark.isActive ? "#3d3f46" : "#ebebec", -50)
    );
    const boxColorAfter = computed(() =>
      lighten($q.dark.isActive ? "#3d3f46" : "#ebebec", -10)
    );

    const mainColor = computed(() => getPaletteColor(color.value));
    const mainColorBefore = computed(() =>
      lighten(getPaletteColor(color.value), -50)
    );
    const mainColorAfter = computed(() =>
      lighten(getPaletteColor(color.value), -10)
    );

    return {
      boxColor,
      boxColorBefore,
      boxColorAfter,
      mainColor,
      mainColorBefore,
      mainColorAfter,
    };
  },
});
</script>
<style scoped>
ul {
  position: relative;
  transform: skewY(-15deg);
}
ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background-color: var(--boxColor);
  padding: 15px;
  z-index: var(--i);
  transition: 0.4s ease-in-out;
}
ul li:hover {
  background-color: var(--mainColor);
  transform: translateX(50px);
}
ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: var(--boxColorBefore);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.4s ease-in-out;
}
ul li:hover::before {
  background-color: var(--mainColorBefore);
}
ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--boxColorAfter);
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.4s ease-in-out;
}
ul li:hover::after {
  background-color: var(--mainColorAfter);
}
ul li a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.4s ease-in-out;
}
ul li:hover a {
  color: white;
}
ul li:last-child::after {
  box-shadow: -100px 120px 20px rgba(0, 0, 0, 0.25);
}
</style>
