<template>
  <q-card class="my-card q-py-sm" :dark="dark">
    <q-list :dark="dark">
      <q-item>
        <q-item-section avatar>
          <q-skeleton type="QAvatar" v-if="loading" />
          <q-avatar v-else>
            <img :src="avatar" :alt="name" />
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>
            <q-skeleton type="text" v-if="loading" />
            <strong v-else>{{ name }}</strong>
          </q-item-label>
          <q-item-label caption>
            <q-skeleton type="text" v-if="loading" />
            <p v-else>{{ title }}</p>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-skeleton type="QBtn" v-if="loading" />
          <q-btn
            id="editBtn"
            color="light-blue-8"
            label="Edit"
            class="q-px-md"
            v-else
            :loading="editLoading"
            @click="edit"
          />
        </q-item-section>
      </q-item>
      <q-separator />
      <q-item>
        <q-item-section>
          <q-item-label class="text-center">
            <q-skeleton type="text" v-if="loading" />
            <strong v-else>{{ shots }}</strong>
          </q-item-label>
          <q-item-label class="text-center" caption> Shots </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center">
            <q-skeleton type="text" v-if="loading" />
            <strong v-else>{{ followers }}</strong>
          </q-item-label>
          <q-item-label class="text-center" caption> Followers </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center">
            <q-skeleton type="text" v-if="loading" />
            <strong v-else>{{ following }}</strong>
          </q-item-label>
          <q-item-label class="text-center" caption> Following </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center">
            <q-skeleton type="text" v-if="loading" />
            <strong v-else>{{ lithning }}</strong>
          </q-item-label>
          <q-item-label class="text-center" caption> Lithning </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <q-item>
        <q-item-section>
          <q-skeleton type="QBtn" v-if="loading" />
          <q-btn
            id="messageBtn"
            color="primary"
            icon="mail"
            label="Message"
            flat
            v-else
            :loading="messageLoading"
            @click="message"
          />
        </q-item-section>
        <q-item-section>
          <q-skeleton type="QBtn" v-if="loading" />
          <q-btn
            id="followBtn"
            color="grey"
            label="Follow"
            v-else
            :loading="followLoading"
            @click="follow"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>
<script>
import { defineComponent, toRefs, ref, onMounted } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "ProfileCard",

  props: {
    id: {
      type: String,
      required: true,
    },
    avatar: {
      type: String,
      required: false,
      default: "https://cdn.quasar.dev/img/boy-avatar.png",
    },
    name: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default: "",
    },
    shots: {
      type: Number,
      required: true,
      default: 0,
    },
    followers: {
      type: Number,
      required: true,
      default: 0,
    },
    following: {
      type: Number,
      required: true,
      default: 0,
    },
    lithning: {
      type: Number,
      required: true,
      default: 0,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["editProfile", "messageProfile", "followProfile"],
  setup(props, { emit }) {
    const $q = useQuasar();

    const {
      id,
      avatar,
      name,
      title,
      shots,
      followers,
      following,
      lithning,
      dark,
    } = toRefs(props);

    const loading = ref(true);
    const editLoading = ref(false);
    const messageLoading = ref(false);
    const followLoading = ref(false);

    const edit = () => {
      editLoading.value = true;
      emit("editProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Editing Profile",
          message: `Editing ${name.value}'s profile...`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            editLoading.value = false;
          });
      });
    };
    const message = () => {
      messageLoading.value = true;
      emit("messageProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Sent Message",
          message: `Message to ${name.value} sent!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            messageLoading.value = false;
          });
      });
    };
    const follow = () => {
      followLoading.value = true;
      emit("followProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Following Profile",
          message: `Now following ${name.value}'s profile!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            followLoading.value = false;
          });
      });
    };

    onMounted(() => {
      loading.value = false;
    });

    return {
      loading,
      editLoading,
      messageLoading,
      followLoading,
      edit,
      message,
      follow,
    };
  },
});
</script>
