<template>
  <Story title="Router Link" group="comp">
    <template #controls>
      <HstText v-model="title" title="Title" />
      <HstText v-model="caption" title="Caption" />
      <HstText v-model="link" title="Link" />
      <HstText v-model="icon" title="Icon" />
    </template>
    <Variant title="default">
      <RouterLink :title="title" :caption="caption" :link="link" :icon="icon" />
    </Variant>
  </Story>
</template>
<script>
import RouterLink from "./RouterLink.vue";
import { defineComponent, ref } from "vue";

export default defineComponent({
  components: {
    RouterLink,
  },
  setup() {
    const title = ref("Dashboard");
    const caption = ref("Profile Dashboard");
    const link = ref("Dashboard");
    const icon = ref("dashboard");

    return { title, caption, link, icon };
  },
});
</script>
