<template>
  <q-card class="my-card" :dark="dark">
    <q-img :src="image">
      <div class="absolute-bottom">
        <div class="text-subtitle1">{{ title }}</div>
        <div class="text-subtitle2">{{ formattedDate() }}</div>
      </div>
    </q-img>
  </q-card>
</template>
<script>
import { defineComponent, toRefs } from "vue";

export default defineComponent({
  name: "ShotCard",
  props: {
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    dark: {
      type: Boolean,
      required: false,
    },
  },
  setup(props) {
    const { title, image, date } = toRefs(props);

    const formattedDate = () =>
      new Date(date.value + "T00:00:00").toLocaleDateString();

    return { formattedDate };
  },
});
</script>
