<template>
  <Story title="Socials Card" group="comp">
    <Variant title="Default" :init-state="defaultState">
      <template #default="{ state }">
        <SocialsCard
          :id="state.id"
          :loading="state.loading"
          :dark="state.dark"
          @socialShare="handleSocialShare"
        />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Socials Card

Todo
</docs>
<script>
import { defineComponent } from "vue";
import SocialsCard from "./SocialsCard.vue";
import { logEvent, isDark } from "histoire/client";

export default defineComponent({
  components: {
    SocialsCard,
  },
  setup() {
    const defaultState = () => {
      return {
        id: "123456",
        dark: isDark(),
        loading: true,
      };
    };

    const handleSocialShare = (id, social, callback) => {
      logEvent("Social Media!", {
        action: `Sharing ${social} of profile of ID ${id}.`,
      });
      callback();
    };

    return { defaultState, handleSocialShare };
  },
});
</script>
