<template>
  <q-card class="my-card q-py-sm" :dark="dark">
    <q-list :dark="dark">
      <q-item>
        <q-item-section>
          <q-btn
            color="light-blue-2"
            icon="fab fa-facebook-f"
            label="Share with facebook"
            @click="socialShare('Facebook')"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn flat round color="negative" icon="close" size="sm" />
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-btn
            color="primary"
            flat
            icon="fab fa-twitter"
            text-color="primary"
            label="Tweet with twitter"
            @click="socialShare('Twitter')"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn flat round color="negative" icon="close" size="sm" />
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-btn
            color="primary"
            flat
            icon="fab fa-pinterest-p"
            text-color="primary"
            label="Save with pinterest"
            @click="socialShare('Pinterest')"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn flat round color="negative" icon="close" size="sm" />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, toRefs } from "vue";

export default defineComponent({
  name: "SocialsCard",
  props: {
    id: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["socialShare"],
  setup(props, { emit }) {
    const $q = useQuasar();

    const { id, loading, dark } = toRefs(props);

    const socialShare = (social) => {
      emit("socialShare", id.value, social, () => {
        $q.dialog({
          dark: dark.value,
          title: "Social Share",
          message: `Check ${id.value}'s socials.`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            campaignLoading.value = false;
          });
      });
    };

    return { socialShare };
  },
});
</script>
