<template>
  <q-card class="my-card" :dark="dark">
    <q-list :dark="dark">
      <q-item>
        <q-item-section>
          <q-item-label caption> Give your support </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <q-item>
        <q-item-section avatar>
          <q-skeleton type="QAvatar" v-if="loading" />
          <q-btn
            v-else
            id="campaignBtn"
            round
            color="blue-2"
            text-color="blue-8"
            icon="bolt"
            :loading="campaignLoading"
            @click="campaign"
          />
        </q-item-section>

        <q-item-section>
          <q-badge color="accent text-white"> Quantity: </q-badge>

          <q-slider
            v-model="quantity"
            :min="-20"
            :max="20"
            :step="4"
            label
            label-always
            color="light-green"
          />
        </q-item-section>
      </q-item>
      <q-separator />
      <q-item>
        <q-item-section>
          <q-skeleton type="QBtn" v-if="loading" width="100%" />
          <q-btn
            v-else
            id="supportBtn"
            color="primary"
            icon-right="chevron_right"
            label="SUPPORT"
            flat
            :loading="supportLoading"
            @click="support"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>
<script>
import { defineComponent, toRefs, ref } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "SupportCard",
  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["campaignStatus", "supportAction"],
  setup(props, { emit }) {
    const $q = useQuasar();
    const { id, name, dark } = toRefs(props);
    const quantity = ref(0);
    const campaignLoading = ref(false);
    const supportLoading = ref(false);

    const campaign = () => {
      campaignLoading.value = true;
      emit("campaignStatus", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Campaign Status",
          message: `Check ${name.value}'s campaign status.`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            campaignLoading.value = false;
          });
      });
    };
    const support = () => {
      supportLoading.value = true;
      emit("supportAction", id.value, quantity.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Thank you!",
          message: `Thanks for donating R$ ${quantity.value} to ${name.value}'s campaign!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            supportLoading.value = false;
          });
      });
    };

    return { quantity, campaignLoading, supportLoading, campaign, support };
  },
});
</script>
