<template>
  <router-view />
</template>

<script>
import { defineComponent, onMounted } from "vue";
import { invoke } from "@tauri-apps/api/tauri";

const closeSplashScreen = () => {
  if (window.__TAURI__) {
    // This will wait for the window to load, but you could
    // run this function on whatever trigger you want
    invoke("close_splashscreen");
    console.log("Foi?");
  } else {
    console.info("Executando aplicativo Web");
  }
};

export default defineComponent({
  name: "App",
  setup() {
    onMounted(() => {
      closeSplashScreen();
    });
  },
});
</script>
