<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title shrink>
          <q-avatar color="secondary">
            <img
              src="/icons/favicon-32x32.png"
              style="width: 80%; height: 80%"
            />
          </q-avatar>
          Comum
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          :icon="isPlaying ? 'pause' : 'play_arrow'"
          :label="textTimer"
          @click="playPause"
        />
        <q-btn round flat icon="notifications">
          <q-badge color="accent" floating v-if="placeHolderNotificaitons >= 1">
            {{ placeHolderNotificaitons }}
          </q-badge>
        </q-btn>
        <q-btn
          class="glossy"
          color="positive"
          label="Login"
          v-if="!is_auth"
          :to="{ name: 'login' }"
        />
        <q-btn v-else flat color="white" :label="`Olá, ${user.first_name}`">
          <q-menu>
            <div class="row no-wrap q-pa-md">
              <div class="column">
                <div class="text-h6 q-mb-md">Settings</div>
                <q-toggle v-model="darkMode" label="Use Dark Mode" />
              </div>

              <q-separator vertical inset class="q-mx-lg" />

              <div class="column items-center">
                <q-avatar size="72px">
                  <img
                    :src="
                      user.perfil.avatar ||
                      `https://ui-avatars.com/api/?name=${user.first_name}+${user.last_name}`
                    "
                  />
                </q-avatar>

                <div class="text-subtitle1 q-mt-md q-mb-xs">
                  {{ user.first_name }} {{ user.last_name }}
                </div>

                <q-btn
                  color="negative"
                  label="Logout"
                  push
                  size="sm"
                  @click="logout"
                  v-close-popup
                />
              </div>
            </div>
          </q-menu>
        </q-btn>
      </q-toolbar>
      <q-tabs align="center">
        <q-route-tab to="/page1" label="Page One" />
        <q-route-tab to="/page2" label="Page Two" />
        <q-route-tab to="/page3" label="Page Three" />
      </q-tabs>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      side="left"
      show-if-above
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      mini-to-overlay
      bordered
    >
      <q-list>
        <RouterLink
          v-for="link in routerLinks"
          :key="link.title"
          v-bind="link"
        />
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-primary text-white">
      <q-toolbar>
        <q-space />
        <div>
          ☭☭☭ Comum <b>v{{ version }}</b> ☭☭☭
          <br />
          ☭☭☭ Quasar <b>v{{ $q.version }}</b> ☭☭☭
        </div>
        <q-space />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import {
  defineComponent,
  ref,
  computed,
  watch,
  onMounted,
  onUnmounted,
} from "vue";
import { useQuasar } from "quasar";
import { useAuthStore } from "stores/authStore";
import { useConfigStore } from "stores/configStore";
import { useRouter } from "vue-router";
import { getMatches } from "@tauri-apps/api/cli";
import EssentialLink from "components/EssentialLink.vue";
import RouterLink from "components/RouterLink.vue";
import { storeToRefs } from "pinia";
import { version } from "../utils/version";

const routerList = [
  {
    title: "Home",
    caption: "Painel de Controle",
    icon: "home",
    link: "dashboard",
  },
  {
    title: "Config",
    caption: "Configurações",
    icon: "settings",
    link: "config",
  },
];

const linksList = [
  {
    title: "Admin",
    caption: "Comum System Admin",
    icon: "admin_panel_settings",
    link: `${process.env.API_URL}/admin`,
  },
  {
    title: "Docs",
    caption: "Comum Docs",
    icon: "library_books",
    link: process.env.DOCS_URL,
  },
  {
    title: "API Schema",
    caption: "Comum Open API Schema",
    icon: "api",
    link: `${process.env.API_URL}/schema`,
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
    RouterLink,
  },

  setup() {
    const $q = useQuasar();
    const authStore = useAuthStore();
    const configStore = useConfigStore();
    const router = useRouter();
    const leftDrawerOpen = ref(false);
    const miniState = ref(true);
    const darkMode = ref($q.dark.isActive);
    const placeHolderNotificaitons = ref(5);
    // const audio = ref(null);

    const { currentTimer, isPlaying, textTimer } = storeToRefs(configStore);

    const user = computed(() => authStore.getUser);
    const is_auth = computed(() => authStore.IsAuthenticated);

    const logout = async () => {
      await authStore.logout();
      router.push({ name: "index" });
    };

    watch(darkMode, async (value) => {
      await configStore.toggleDarkMode(value);
    });

    const playPause = () => {
      configStore.playPause();
    };

    /*
    watch(currentTimer, (value) => {
      if (audio.value) {
        // audio.value.play();
      } else {
        // not mounted yet, or the element was unmounted (e.g. by v-if)
      }
    });
*/
    onMounted(() => {
      if (window.__TAURI__) {
        getMatches().then((matches) => {
          // do something with the { args, subcommand } matches
          console.log(matches);
          if (matches.args.help) console.log(matches.args.help.value);
          if (matches.subcommand.name === "greet") {
            if (matches.subcommand.matches.args.nome)
              $q.dialog({
                title: `Seja bem vinde, ${matches.subcommand.matches.args.nome.value}`,
                message: "Não se esqueça de beber água 🥤😉",
              }).onOk(() => {
                console.log("OK");
              });
          }
        });
      }
    });

    onUnmounted(() => {
      configStore.clearTimer();
    });

    return {
      essentialLinks: linksList,
      routerLinks: routerList,
      version: version,
      leftDrawerOpen,
      miniState,
      darkMode,
      placeHolderNotificaitons,
      user,
      is_auth,
      logout,
      // audio,
      currentTimer,
      isPlaying,
      textTimer,
      playPause,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
