<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PublicLayout",
  setup() {
    return {};
  },
});
</script>
<style scoped>
.bg-transparent {
  background: transparent !important;
}
</style>
